*{
    margin: 0%;
    padding: 0%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.main-header{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    padding: 30px;
    background-color: #3d518c;
    color:white;
}
h1{
    color: white;
    font-size: 50px;
    
}
.avatar{
    width: 200px;
    padding: 0%; 
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px;
    font-size: 25px;
}
nav ul li a{
    color:white;
    text-decoration: none;
}

/* updated class and colors */
.about-me{
    padding: 5%;
    background-color: #7692ff;
    text-align: center;
    color: white;
    font-size: 25px;
}
/* added work area */
.work{
    background-color: #3d518c;
    text-align: center;
    color: white;
    padding: 50px;
}

/* added work area boxes */
.project {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
    line-height: 200px;
}

#project1 {
    font-size: 40px;
    color: #f25f5c;
    width: 700px;
}

#project1:hover {
    transform: scale(1.1);
    text-decoration: none;
}

#project2 {
    font-size: 40px;
    color: #f25f5c;
}
#project3 {
    font-size: 40px;
    color: #f25f5c;
}
#project4 {
    font-size: 40px;
    color: #f25f5c;
}

    
/* added contact me footer */
.contact-me{
    background-color: #7692ff;
    color: white;
    font-size: 20px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

/* added media screens */
@media screen and (max-width: 992px) {
    main, .main-header, nav, footer {
        flex-direction: column;
}

@media screen and (max-width: 768px) {
main, .main-header, nav, footer{
    flex-direction: column;
}